body {
    background-color: darkslategrey
}

.edges {
    background-color: darkred;
    height: 20px;
}

#upperEdgeBreakout {
    background: darkred url(../images/dice.png) top left no-repeat;
    position: absolute;
    top: 9px;
    right: 20px;
    width: 400px;
    height: 88px;
}
