<div id='playButton'>
</div>
<div id='nextPlayer'>
</div>
<div id='initiativeList'>
    <table class="initativeList">
        <ng-container *ngFor="let entry of initiativeEntries; let i = index">
            <tr id="entry{{i}}" class="initativeEntry">
                <td width="10%"><button id="edit{{i}}" class="button buttonInList editButton">EDT</button></td>
                <td width="80%"><h3>{{entry}}</h3></td>
                <td width="10%"><button id="delete{{i}}" class="button buttonInList deleteButton" (click)="deleteEntry(i)">DEL</button></td>
            </tr>
            <tr>
                <td colspan ="3" width='100%'><hr></td>
            </tr>
        </ng-container>
    </table>
    <button id="add" class="button" (click)="addNewEntry()"><h3>Eintrag hinzufügen</h3></button>
</div>


